fastapi==0.117.1
uvicorn==0.36.0
llama-index==0.10.28
llama-index-retrievers-bm25==0.2.2
split==0.4
wtpsplit==2.1.6
rank-bm25==0.2.2
jprint==1.6
groq==0.31.1
faiss-cpu==1.7.3
pandas==2.3.2
sentence-transformers==5.1.0
transformers==4.51.3
langchain==0.3.27
langchain-community==0.3.29
langchain-qdrant==0.2.1
langchain-huggingface==0.3.1
string2string==0.0.150
huggingface-hub==0.35.0
accelerate==1.10.1
guidance==0.3.0
gpustat==1.1.1
fastembed==0.7.3
digitalhub==0.12.0